module.exports = "<div class=\"app-sidebar-wrapper\" style=\"background-color: #ffab51;\">\r\n  <app-sidebar></app-sidebar>\r\n</div>\r\n<div class=\"app-page-content-wrapper bg-secondary\">\r\n  <app-notification mode=\"global\"></app-notification>\r\n  <div class=\"app-page-content\">\r\n    <router-outlet></router-outlet>\r\n    <div class=\"clearfix\"></div>\r\n  </div>\r\n  <div class=\"app-footer bg-transparent\">\r\n    <app-footer></app-footer>\r\n  </div>\r\n</div>"


//////////////////
// WEBPACK FOOTER
// ./src/app/home/home.component.html
// module id = ./src/app/home/home.component.html
// module chunks = main